MQTT_HOST=
MQTT_PORT=8883
MQTT_USERNAME=
MQTT_PASSWORD=
INTERNAL_TEST_MODE=true
DISABLE_DATABASE=false
DATABASE_URL=
AUTH_SECRET=
ADMIN_EMAILS=
FIRMWARE_UPDATE_CHANNEL=stable
PUBLIC_APP_BASE_URL=
ADMIN_TOKEN=
ENABLE_EXPERIMENTAL_OTA_UI=false
ALEXA_SKILL_ENABLED=false
ALEXA_CLIENT_ID=
ALEXA_CLIENT_SECRET=
ALEXA_ALLOWED_REDIRECT_HOSTS=
